{% extends  'base.html' %}

{% block content%}
 
        <center>
        <div class="mission">
            <p style="color:white">Welcome to DayStar Daycare Admin App. Empowering daycare administrators with innovative tools<br> and   intuitive features, streamlining daycare management and fostering a nurturing<br> environment for children's growth and development.</p>

        </div>

        
        <a href="{% url 'login.html' %}" class="cta-button" >Get Started</a>
     
    </center>
{% endblock %}



