{% extends  'base.html' %}

{% block content%}
<a class="back" href="{% url 'home' %}" ><i class="fas fa-chevron-left"><i class="fas fa-arrow-left"></i></i>Back </a> 

    <div class="card-container" id="first">
        <h1>Procurement Dashbord</h1>

        <div style="border-radius: 40px; background-color: white; border:solid 2px black; width: 400px;" class="card" id="second">
      

        <div class="card-container" id="first">
            <a href="{% url 'dollstal_list' %}">
            <div class="card" id="second">
                <h2> Commodities</h2>
            </div>

        </a>


            <a href="{% url 'procure_list' %}">
            <div class="card" id="second">
                <h2>Procurement</h2>
            </div>
            </a>
           
 
            
        </div>
    </div>
</div>

{% endblock %}
