{% extends  'base.html' %}

{% block content%}
    <h1>Sitters' Information</h1>
    
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>Hey {{ user }}!</strong> You're welcome.
     
    </form>
    </div>
    <div class="mt-4 p-5 bg-secondary text-white rounded">
        <table>
            <button type="submit"><a href="{% url 'add_record' %}"> <i class="fas fa-plus"></i>Add</a></button>
            <thead>
                <tr>
                    <th>First Name</th>
                    <th>Surname</th>
                    <th>Date Of Birth</th>
                    <th>Gender</th>
                    <th>Location</th>
                    <th>Next Of Kin</th>
                    <th>Next Of Kin Contact</th>
                    <th>NIN number</th>
                    <th>Recommender's Name</th>
                    <th>Recommender's Contact</th>
                    <th>Religion</th>
                    <th>Education Background</th>
                    <th>Sitter Number</th>
                    <th>Sitter's Contact</th>
                    <th>Action</th>
 
                </tr>
            </thead>
            <tbody>
                {% for record in records %}
                    <tr>
                        <td>{{ record.first_name }}</td>
                        <td>{{ record.last_name }}</td>
                        <td>{{ record.date_of_birth }}</td>
                        <td>{{ record.gender }}</td>
                        <td>{{ record.location }}</td>
                        <td>{{ record.next_of_kin }}</td>
                        <td>{{ record.next_of_kin_phone }}</td>
                        <td>{{ record.NIN_number }}</td>
                        <td>{{ record.recommenders_name }}</td>
                        <td>{{ record.recommenders_phone }}</td>
                        <td>{{ record.religion }}</td>
                        <td>{{ record.level_of_education }}</td>
                        <td>{{ record.sitter_number }}</td>
                        <td>{{ record.phone_number }}</td>
                        <td>

                            <button type="submit"><a href="{% url 'edit_record' record.id %}" class="btn btn-danger"><i class="fas fa-edit"></i></a></button>
                            
                            <form  style="background-color: white; box-shadow: 0px;padding: 0px; border-radius: 0px; margin: 0px;" action="{% url 'delete_record' record.id %}" method="post">
                                {% csrf_token %}
                            
                                <button  ><i class="fas fa-trash"></i></button>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% endblock %}
