{% extends  'base.html' %}

{% block content%}

<a class="back" href="{% url 'home' %}" ><i class="fas fa-chevron-left"><i class="fas fa-arrow-left"></i></i>Back </a> 

    <div class="card-container" id="first">
 
        <div style="border-radius: 50px; background-color: #ff8c00; width: 400px;" class="card" id="second">
      

        <div class="card-container" id="first">
 
       
            <a href="{% url 'record_list' %}">
            <div class="card" id="second">
          
                <h2>Register Sitters</h2>
            </div>
        </a> 
            <a href="{% url 'duty_list' %}">
                <div class="card" id="second">
                    <h2>Sitters On Duty</h2>
                </div>
                </a>
            <a href="{% url 'arrival_list' %}">
            <div class="card" id="second">
                <h2>Baby's Time In</h2>
            </div>
            </a>
            <a href="{% url 'assign_list' %}">
                <div class="card" id="second">
                    <h2> Assignments</h2>
                </div>
                </a>
            
            
            <a href="{% url 'departure_list' %}">
            <div class="card" id="second">
                <h2>Baby's Pickup</h2>
            </div>
            </a>
        </div>
    </div>
</div>
{% endblock %}
