 
{% extends  'base.html' %}

{% block content%}
 
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>Hey {{ user }}!</strong> You're welcome.
        <h1>Sitters' Payment List</h1>
    </div>
    <div class="mt-4 p-5 bg-secondary text-white rounded">
        <table class="table table-striped table-bordered">
            <table>
                <thead>
                    <tr>
                        <th>First Name</th>
                        <th>Lastname</th>
                        <th>Number of Babies</th>
                        <th>Amount per Baby</th>
                        <th>Total</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for sitter_pay in records %}
                    <tr>
                        <td>{{ sitter_pay.first_name }}</td>
                        <td>{{ sitter_pay.last_name }}</td>
                        <td>{{ sitter_pay.number_of_babies_attended_to }}</td>
                        <td>{{ sitter_pay.amount_per_baby }}</td>
                        <td>{{ sitter_pay.total }}</td>
                        <td></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
    </div>
    {% endblock %}
