 
{% extends  'base.html' %}

{% block content%}
 
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>Hey {{ user }}!</strong> You're welcome.
        <h1>Sitters' Payment List</h1>
    </div>
    <div class="mt-4 p-5 bg-secondary text-white rounded">
   
            <table class="table table-striped table-bordered">
                <div class="mb-3">
                    <button><a href="{% url 'add_sitter_pay' %}" class="btn btn-success">
                        <i class="fas fa-plus"></i> Add
                    </a></button>
                
                    <form class="button" style="  box-shadow: 0px; padding: 0px; border-radius: 0px; margin: 0px; max-width: 200px;" method="GET" action="{% url 'search_pay_sitter' %}">
                        <input type="text" name="search" class="form-control" placeholder="Search ...">
                       
                 
                    </form>
                </div>
 
                <thead>
                    <tr>
                        <th>Sitter Name</th>
                        
                        <th>Number of Babies</th>
                        <th>Amount per Baby</th>
                        <th>Total</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for sitter_pay in records %}
                    <tr>
                        <td>{{ sitter_pay.sitter_on_duty }}</td>
                         
                        <td>{{ sitter_pay.number_of_babies_attended_to }}</td>
                        <td>{{ sitter_pay.amount_per_baby }}</td>
                        <td>{{ sitter_pay.total }}</td>
                        <td>
                            <button><a href="{% url 'edit_sitterpay' sitter_pay.id %}" class="btn btn-danger" >
                                <i class="fas fa-edit"></i>
                            </a></button>
                            <form style="  box-shadow: 0px; padding: 0px; border-radius: 0px; margin: 0px;" action="{% url 'delete_sitterpay' sitter_pay.id %}" method="post"
                             onsubmit="return confirm('Are you sure you want to delete this record?');">
                                {% csrf_token %}
                                <button class="btn btn-danger">
                                    <i class="fas fa-trash"></i>
                                </button>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
    {% endblock %}
